<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>hax-manager demo</title>

    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">
    <link rel="import" href="../hax-manager.html">
    <link rel="import" href="../../paper-toast/paper-toast.html">
    <style is="custom-style" include="demo-pages-shared-styles">
    </style>
  </head>
  <body>
    <div class="vertical-section-container centered">
      <h3>Basic hax-manager demo</h3>
      <demo-snippet>
        <template is="dom-bind">
          <hax-manager id="manager">
            <div slot="sources">
              MY STUFF
            </div>
            <hax-manager-source
            slot="sources"
            call-to-action="Search youtube"
            request-end-point="https://www.googleapis.com/youtube/v3/search"
            request-params='{
            "part":"snippet",
            "q":"",
            "key": "AIzaSyAF9zKXv-fxus9GNqn40SHzTn6F8A7h-Yo",
            "type": "video",
            "maxResults":"12"}'
            query-param="q"
            response-map='{
              "root": "items",
              "url": "https://www.youtube.com/watch?v=",
              "id": "id.videoId",
              "title": "snippet.title",
              "description": "snippet.description",
              "image": "snippet.thumbnails.high.url"}'>
            </hax-manager-source>
            <hax-manager-source
            slot="sources"
            call-to-action="Search Vimeo"
            request-end-point="https://api.vimeo.com/videos"
            request-params='{
            "access_token": "0a718b853bad87571d52e9fb554e0a43",
            "query": "",
            "direction": "asc",
            "sort": "alphabetical",
            "filter": "CC",
            "per_page":"12"
            }'
            query-param="query"
            response-map='{
              "root": "data",
              "url": "",
              "id": "link",
              "title": "name",
              "description": "description",
              "image": "pictures.sizes.0.link"}'>
            </hax-manager-source>
          </hax-manager>
          <script>
            var m = document.querySelector('#manager');
            // alert if there was an error loading content
            m.addEventListener('hax-content-insert', function(e) {
              document.querySelector('#toast').show(e.detail.eventName);
              console.log(e.detail);
            });
          </script>
        </template>
      </demo-snippet>
    </div>
  </body>
</html>
